*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
.link{
    border-bottom: solid black 2px;
    margin: 0 5px;
}
#contenido{
    width: 90%;
    margin: 0px auto;
    line-height: 20px;
}
.center{
    margin: 0 auto;
    display: block;
}
.tRojo{
    color: red;
}
#contenido div {
    margin: 8px 0;

}
footer{
    background-color: black;
    text-align: center;
}
